{% extends "website/header.html" %}

{% block content %}
{% include "website/navbar.html" %}

<div class="container">
  <div class="row" style="padding-top:100px;">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title">Cultris II</h2>
        <p class="card-text">The newest and fastest Cultris II.</p>
        <a href="#" class="btn btn-primary">Windows</a>
        <a href="#" class="btn btn-primary">Mac</a>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top:100px;">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title">Cultris I</h2>
        <p class="card-text">The Original.</p>
        <a href="#" class="btn btn-primary">Windows</a>
        <a href="#" class="btn btn-primary">Mac</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
